@import "global";
@import "fonts";

.menu__btn {
  display: none;
}

.mobile__menu {
  display: none;
}

// header start

.header__top {
  background-color: #b62c2c;
}

.header__inner {
  position: relative;
  height: 73px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner-info {
  display: flex;
}

.header__info-item {
  display: flex;
  align-items: center;
  padding: 0 35px;

  &:first-child {
    padding: 0;
    border-right: 1px solid rgba(250, 250, 250, 0.5);
  }
}

.header__info-text {
  padding-left: 12px;
  width: 240px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
}

.header__inner-social {
  display: flex;
}

.header__social-icon {
  padding: 0 20px;

  svg:hover {
    transition: all 0.3s;

    path {
      fill: rgba(#fff, 0.7);
    }
  }

  &:first-child {
    padding-left: 0;
    border-right: 1px solid rgba(250, 250, 250, 0.5);
  }
}

// header end

.main {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 180px;
  position: relative;

  .main__position-btn {
    content: "";
    position: absolute;
    position: fixed;
    z-index: 99;
    background-image: url(../img/main-icon-position.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    bottom: 10%;
    right: 15%;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -6px;
      width: 81px;
      height: 81px;
      border-radius: 50%;
      border: 2px solid #b62c2c;
      animation: pulse 1s ease 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    width: 81px;
    height: 81px;
  }

  100% {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -15px;
    opacity: 0;
  }
}

.main__row-inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__row-logo {
  img {
    width: 123px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main__menu {
  font-size: 18px;
  padding: 16px;
  border-bottom: 1px solid #c4c4c4;

  li {
    a {
      color: #565656;
      transition: all 0.3s;

      &:hover {
        color: #b62c2c;
      }
    }

    display: inline-block;

    &+li {
      padding-left: 66px;
    }
  }
}

.main__row-phone {
  color: #b62c2c;
  font-size: 18px;
  padding: 17px 42px;
  border: 2px solid #b62c2c;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(#b62c2c, 1);
    color: #fff;
  }
}

.main__inner {
  padding-top: 120px;
  text-align: left;
}

.main__inner-title {
  margin-bottom: 28px;

  h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    max-width: 683px;
  }
}

.main__inner-subtitle {
  max-width: 400px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 46px;
}

.main__inner-btn {
  margin-bottom: 120px;
}

.main__inner-info {
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__info-item {
  text-align: left;
}

.counter__symbol {
  &::before {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
  }
}

.main__info-number {
  color: #b62c2c;
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 19px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 92px;
    height: 2px;
    background-color: #b62c2c;
  }
}

.main__info-text {
  font-size: 16px;
  line-height: 20px;
  max-width: 170px;
}

// end main

.about__inner {
  padding-top: 90px;
  padding-bottom: 20px;
}

.about__inner-info {
  align-items: start;
  margin-bottom: 80px;
}

.about__info-title {
  width: 200px;
}

.about__inner-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__video {
  position: relative;
  margin-bottom: 80px;
  padding-right: 25px;
  overflow: hidden;
}

.plyr__control--overlaid {
  opacity: 1;
  left: 100%;
  position: absolute;
  z-index: 99;
}

.plyr__video-embed {
  width: 660px;
  height: 369px;
}

.plyr__control--overlaid {
  background-color: #b62c2c !important;
}

.plyr--video {
  overflow: initial;
}

.about__video-info {
  text-align: right;
}

.about__video-text {
  text-align: left;
  max-width: 487px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  position: relative;

  &::after {
    content: "";
    background-image: url(../img/icon__about-position.png);
    height: 141px;
    width: 141px;
    position: absolute;
    top: -40px;
    right: 50px;
  }
}

.about__video-subtitle {
  text-align: right;
  color: #565656;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;

  span {
    display: block;
    font-size: 16px;
    font-weight: 700;
  }
}

.about__video-btn {
  text-align: center;
}

// end main

// services :start
.services {
  background-image: url(../img/service_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 206px;
}

.services__inner-info {
  margin-bottom: 115px;
}

.services__inner-row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    width: 100%;
    background-size: contain;
    background-position: center;
    padding-bottom: 1px;
  }
}

.services__col {
  width: 33.2%;
}

.services__col-item {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    background-image: url(../img/arrow_service.png);
    width: 22px;
    height: 9px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    transition: all 0.4s;
  }
}

.services__col-wrapper {
  background-color: rgba(#b62c2c, 0.8);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 4px;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 23px 40px;
  transition: all 0.4s;

  p {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    padding-bottom: 20px;
    max-width: 290px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      display: none;
    }
  }

  cursor: pointer;
}

.services__col-description {
  display: none;
  padding-top: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  max-width: 290px;
}

.services__col-item.hover:hover,
.services__col-item--active {
  .services__col-wrapper {
    padding-top: 25px;
    display: block;
    height: 100%;

    p::after {
      display: block;
    }

    .services__col-description {
      display: block;
    }
  }

  &::after {
    transform: rotate(180deg);
  }
}

// end services

.contacts {
  background-image: url(../img/contacts_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 175px;
  padding-bottom: 110px;
  margin-top: -75px;
  z-index: -2;
  position: relative;
}

.contacts__inner {
  width: 973px;
  margin: 0 auto;
  color: #fff;
}

.contacts__inner-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.contacts__inner-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  span {
    display: block;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 19px;
  }
}

.contacts__inner-phone {
  a {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
  }
}

.contacts__inner-form {
  text-align: right;
}

.contacts__form {
  display: flex;
  justify-content: space-between;

  input {
    font-size: 16px;
    font-weight: 400;
    color: rgba(#fff, 0.5);
    padding: 25px 21px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    width: 309px;
  }

  button {
    color: #b62c2c;
    background-color: #fff;
    padding: 21px 32px;
    font-style: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.contacts__form-check {
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 14px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #fff;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &:checked+label::before {
      border-color: #fff;
      background-color: #fff;
      background-image: url(../img/ok.svg);
      background-size: cover;
    }
  }
}

// end contacts

.slider {
  padding-top: 150px;
  padding-bottom: 30px;
}

.slider__inner-info {
  margin-bottom: 100px;
}

.slider__wrapper {
  text-align: center;
}

.slider__item {
  width: 424px !important;

  &-img {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      &::after {
        background-color: rgba(#000, 0.4);
      }
    }
  }

  img {
    width: 424px;
    height: 343px;
    height: auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.slider_btn {
  position: absolute;
  top: 42%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  z-index: 999;

  &.slider-btn__left {
    left: -45px;
    transform: rotate(180deg);
  }

  &.slider-btn__right {
    right: -45px;
  }

  &.slick-disabled {
    svg {
      path {
        stroke: rgba(#b62c2c, 0.4);
      }
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 40px;

  li {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: rgba(#b62c2c, 0.4);
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      cursor: pointer;
    }

    &.slick-active {
      &::after {
        background-color: #b62c2c;
      }

      &::before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #b62c2c;
      }
    }

    button {
      opacity: 0;
    }
  }
}

// end slider
.comments {
  background-image: url(../img/comments_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  .slick-list {
    height: 420px;
  }
}

.comments__inner-info {
  margin-bottom: 90px;
  text-align: left;
}

.comments__slider-item {
  width: 400px !important;
  height: 416px;
  padding: 0px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px rgba(172, 175, 179, 0.11);
}

.comments__inner-slider {
  text-align: center;
}

.comments__item-row {
  height: 172px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b62c2c;
}

.comments__item-icon {
  img {
    width: 97px;
    height: 97px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 35px;
  }
}

.comments__item-name {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}

.comments__item-text {
  overflow: hidden;
  max-height: 220px;
  text-align: left;
  padding-top: 30px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  color: #000;
}

.jq-ry-container {
  position: relative;
  padding: 0px;
}

// end comments

// start footer
.footer {
  padding: 115px 0 65px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 123px;
}

.footer__inner-logo {
  img {
    width: 123px;
    height: 58px;
    background-position: center;
  }
}

.footer__inner-social {
  padding-top: 35px;

  a+a {
    padding-left: 20px;
  }

  svg:hover {
    transition: all 0.3s;

    path {
      fill: rgba(#b62c2c, 0.7);
    }
  }
}

.footer__menu {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;

  a {
    color: #565656;
    transition: all 0.3s;

    &:hover {
      color: #b62c2c;
    }
  }

  li {
    display: inline-block;

    &+li {
      padding-left: 66px;
    }
  }
}

.footer__copy {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.25;
}

.footer__inner-phone {
  a {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #b62c2c;
  }
}



// modal popup
.modal-content,
.modal-header {
  border: none;
}
#secondModal .modal-dialog{
  height: 430px;
  
}
.modal-dialog {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 674px;
  width: 100%;
  height: 560px;
  margin-top: 10%;
  background-color: #fff;

  .btn-close {
    position: absolute;
    top: -20px;
    right: 20px; 
    &:active{
      border: none;
      box-shadow: none;
    }
  }

  .popup__form {
    max-width: 452px;
    margin: 0 auto;

    input {
      display: block;
      width: 100%;
      margin-bottom: 22px;
      padding: 21px 25px;
      color: rgba(#000, 0.5);
      background-color: #fff;
      border-color: rgba(#000, 0.5);
    }

    .popup-btn.btn.btn-primary,
    .btn-secondary{
      width: 100%;
      background-color: #b62c2c;
      border: none;
      border-radius: 0;
      color: #fff;
      padding: 21px 32px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      transition: none;
      cursor: pointer;
      box-shadow: none;
      &:hover {
        background-color: #A22626;
      }
    }
  }
}

.modal__form-check {
  font-weight: 500;
  font-size: 12px;
  margin-top: 12px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid rgba(#000, 0.5);
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &:checked+label::before {
      border-color: rgba(red, 1);
      background-color: #000;
      background-image: url(../img/ok.svg) !important;
      width: 17px;
      height: 17px;
      background-size: cover;
    }
  }
}

#exampleModalLabel {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #565656;
  margin-bottom: 45px;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border: none;
}

.modal__subtitle {
  width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #565656;
  margin-bottom: 45px;
}

.fancybox-bg {
  background: #b62c2c;
}

.fancybox-is-open .fancybox-bg {
  opacity: .6;
}

button.btn.btn-secondary{
  color: #fff;
  font-size: 16px;
  padding: 22px 5px;
  font-weight: 600;
  background-color: #B62C2C;
  transition: all .3s;
  border: none;
  border-radius: 0%;
  width: 170px;
  margin: 0 auto;
  &:hover{
    background-color: #A12626;
  }
  span{
    border: 1px solid #fff;
    padding: 15px 30px;
  } 
}







@import "media";